<!DOCTYPE html>
<html>
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t7r550sr3g"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t7r550sr3g&submodules=geocoder"></script>
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    <!-- 글꼴 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <style>
      .nav-title{
        font-family: 'Gugi', sans-serif;
      }
      .a-tag{
        text-decoration: none;
        color: black;
      }
    </style>
</head>

<body>

    {% include 'navbar.html'%}

    <div class="container my-5" style="width: 30%">
        <center>
            <div class="col-4">
                <a href="/" class="a-tag">
                    <h1 class="nav-title">HIP</h1>
                </a>
            </div>
        </center>
        <br>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-primary" type="submit" style="width: 100%">로그인</button>
        </form>
        <div style="margin-top: 1rem">
            <a href="{{ signup_url }}" class="a-tag">회원가입</a>
            <a style="margin-left: 1rem" href="{{ signup_url }}" class="a-tag" >비밀번호 찾기</a>
        </div>

        <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark me-2" type="submit" style="width: 100%; margin-top: 2rem"><i class="fab fa-google"></i> Google 로그인</a>
    </div>

    {% include 'footer.html'%}

<form id="searchForm" method="get" action="{% url 'place:search' %}">
    <input type="hidden" id="query" name="query" value="{{ query|default_if_none:'' }}">
</form>
</body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>