{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>HIP</title>
    <style>
    .box {
        float: left;
        margin: 2px;
        width: 19%;
        box-sizing: border-box;
    }
    </style>
{% endblock %}

{% block main_area %}
    <div>
        <div style="text-align: center;"> <h1 class="mt-4">{{ region }} 핫플레이스</h1></div>
        <div id="map" style="height: 450px; width: 75%; margin: 0 auto; "></div>
    </div>
{% endblock %}
{% block out_area %}
    <div style="width: 100%">
    {% for data in data_list %}
    <div class="box">
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="card-title">
                {{ data.rank }}. {{ data.title }}
                </h5>
            </div>
            <img class="card-img-top" style="height: 200px; object-fit: cover;" src="{{ data.image }}">
            <div class="card-body">
                <p class="card-text">{{ data.category }}</p>
                <p class="card-text">{{ data.address }}</p>
                <a href="/place/{{ data.title }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/maps/highmaps.js"></script>
<script src="http://code.highcharts.com/maps/modules/drilldown.js"></script>
{#    <script type="text/javascript" src="{% static 'js/seoul-chart.js' %}" ></script>#}
    <script>
    function highMaps() {
	var me = this;
	me.init();
};

highMaps.prototype.init = function(){
	var me = this;
	// 전국단위 지도 로드
	$.getJSON('{% static 'json/seoul.json' %}', function (geojson) {
        var data = Highcharts.geojson(geojson, 'map');
        $.each(data, function () {
        	this.drilldown = this.properties['code'];
        });
        $('#map').highcharts('Map', {
        	credits: { enabled: false },
            chart : {
                events: {
                	// drilldown : 클릭시 하위레벨로 진입
                    drilldown: function (e) {
                        window.location.href = '/hip/'+e.point.name+'/';
                    },

                }
            },
            series : [{
                data : data,
                showInLegend: false,
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    allowOverlap: false,
                    shadow: false,
                    format: '{point.properties.name}'
                },
                states: {
                	// 상위 지도 hover 스타일 설정
                    hover: {
                        color: '#99004C',
                        borderColor: 'white'
                    }
                },
                tooltip: {
                	headerFormat: '',
                    pointFormat: '{point.properties.name}'
                }
            }],
            // 제목 제거
            title: null,
            // 부제목 제거
            subtitle: null,

            // 지역 선택시 하위 지도 띄우는 기능 설정
            drilldown: {
            	// 상위 지도 레이블 스타일 설정
                activeDataLabelStyle: {
                	color : '#fff',
                    textDecoration: 'none'
                },
            },
        });
        me.chart = $("#map").highcharts();
    });
};

var highMap = new highMaps();
highMap.init();
    </script>
{% endblock %}