<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<!-- 글꼴 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t7r550sr3g"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t7r550sr3g&submodules=geocoder"></script>
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'navbar.html'%}

    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 col-lg-8" >

                <header>
                    <div class="containers">
                        <div class="profile">
                            <div class="profile-image">
                                {% if profile.image %}
                                <img src="{{profile.image.url}}" width="200" height="200">
                                {% else %}
                                <img src="{% static 'img/profile.jpg' %}" width="200" height="200">
                                {% endif %}
                            </div>

                            <div class="profile-user-settings"><br>
                                <h1 class="profile-name">{{username}}</h1>
                            </div>

                            <div class="profile-stats">
                                <ul>
                                    <a style="text-decoration-line: none; color:black;">
                                        <li>MY플레이스 <span class="profile-stat-count">{{placecnt}}</span></li>
                                    </a>
                                    <a style="margin-left:20px; text-decoration-line: none; color:black;">
                                        <li>댓글수 <span class="profile-stat-count">{{commentcnt}}</span></li>
                                    </a>
                                </ul>

                                {% if request.user == users %}
                                <a href="{% url 'hip:update' users.username  %}" style="text-decoration-line: none; color:black;">
                                    <button type="submit" class="btn profile-edit-btn" href="#">
                                        프로필 편집
                                    </button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                  </header>

                <div id="map" style="height: 530px; width: 100%; margin: 0 auto; "></div>
            </div>
            <div class="col-md-4 col-lg-4" >

            <div style="margin-top:3rem">
            <h3 class="nav-title">MY플레이스 - {{ placecnt }}</h3>
            <div class="card" style="overflow: auto; height: 800px">
                {% for data in data_list %}
                <div class="box">
                    <div class="card mb-5">
                        <div class="card-header">
                            <h5 class="card-title">{{ data.title }}</h5>
                        </div>
                        <img class="card-img-top" style="height: 200px; object-fit: cover;" src="{{ data.image }}">
                        <div class="card-body">
                            <p class="card-text">{{ data.category }}</p>
                            <p class="card-text">{{ data.address }}</p>
                            <a href="/place/{{ data.title }}" class="btn btn-primary">더보기 &rarr;</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
            </div>
        </div>
    </div>

    {% include 'footer.html'%}

<form id="searchForm" method="get" action="{% url 'place:search' %}">
    <input type="hidden" id="query" name="query" value="{{ query|default_if_none:'' }}">
</form>
</body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type='text/javascript'>

    var map = new naver.maps.Map('map', {
            scaleControl: false,
            logoControl: false,
            mapDataControl: false,
            zoomControl: true,
            minZoom: 6,
            zoom: 12,
        });

    var markers = [], infoWindows = [];

    {% for data in data_list %}
    var latLng = naver.maps.TransCoord.fromTM128ToLatLng(new naver.maps.Point({{data.mapx}}, {{data.mapy}}));

    var marker = new naver.maps.Marker({
        position: latLng,
        map: map,
    });

    var infowindow = new naver.maps.InfoWindow({
        content: [
            '<div class="iw_inner">',
            '   <h3>{{ data.title }}</h3>',
            '       {{ data.category }}<br />',
            '   <p>{{ data.address }} | {{ data.roadAddress }}<br />',
            '       <a href="{{ data.link }}" target="_blank">{{ data.link }}</a>',
            '   </p>',
            '</div>'
        ].join('')
    });

    markers.push(marker);
    infoWindows.push(infowindow);
{% endfor %}

function getClickHandler(seq) {
    return function(e) {
        var marker = markers[seq],
            infoWindow = infoWindows[seq];

        if (infoWindow.getMap()) {
            infoWindow.close();
        } else {
            infoWindow.open(map, marker);
        }
    }
}

for (var i=0, ii=markers.length; i<ii; i++) {
    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
}
</script>
</html>