{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>HIP</title>

{% endblock %}

{% block main_area %}
        <!-- Comments Form -->
        <div class="card my-4" style="height: 450px">
          <h5 class="card-header">프로필 사진 수정</h5>
          <div class="card-body">
                {% if profile.image %}
                    <img src="{{profile.image.url}}" width="150" height="150">
                {% else %}
                    <img src="{% static 'img/profile.jpg' %}" width="150" height="150">
                {% endif %}
          <br>

              {% if user.is_authenticated %}
                <form id="comment-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="form-group">
                      {{ form | crispy }}
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              {% endif %}
          </div>
        </div>
{% endblock %}