{% extends 'base.html' %}
{% load filter %}
{% load static %}

{% block title %}
    <title>HIP</title>

{% endblock %}

{% block main_area %}




        <!-- Title -->
        <h1 class="mt-4">{{ data.title }}</h1>

        <!-- Author -->
        <p class="lead">
          <a href="#">{{ data.category }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{ data.address }} | {{ data.roadAddress }}</p>

        <hr>

        <!-- Preview Image -->
        <div style="height: 400px; width: 100%">
            {% if data.image %}
                <img class="img-fluid rounded" style="height:100%; width: 50%; float: left; object-fit: cover" src="{{ data.image }}" alt="Card image cap">
            {% else %}
                <img class="card-img-top box" style="height:100%; width: 50%; float: left; object-fit: cover" src="https://picsum.photos/seed/{{ data.pk }}/800/200" alt="random_image">
            {% endif %}
            <div id="map" style="height:100%; width:50%; "></div>
        </div>

        <hr>
        <!-- Post Content -->
            <a href="{{ data.website }}">웹 사이트</a>
        <hr>

    {% confirm_like request.user.username data.id as l %}
    {% if l == 'like' %}
        <a class="btn btn-primary" href="{% url 'place:unlike_place' data.id %}" class="recommend btn btn-sm btn-secondary btn-block my-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            {{ data.voter.count }}
        </a>
    {% else %}
        <a class="btn btn-primary" href="{% url 'place:like_place' data.id %}" class="recommend btn btn-sm btn-secondary btn-block my-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            {{ data.voter.count }}
        </a>
    {% endif %}


        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
              {% if user.is_authenticated %}
                <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                {% csrf_token %}
                  <div class="form-group">
                      <label for="content">Comment</label>
                      <textarea class="form-control"name="content" id="content" rows="2">
                          {{ comment_form.content.value|default_if_none:'' }}
                      </textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              {% endif %}
          </div>
        </div>

        <!-- Single Comment -->
    {% if data.comment_set.exists %}
        {% for comment in data.comment_set.iterator %}
            <div class="box">
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="card-title">{{ comment.author }}</h5>
            </div>
            {% if comment.image %}
                <img class="card-img-top" style="height: 200px; object-fit: cover;" src="{{ comment.image.url }}">
            {% endif %}
            <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>
                <p class="card-text">{{ comment.created_at }}</p>
                {% if request.user == comment.author %}
                  <a href="{{ comment.modify_url }}" class="small">수정</a>,
                  <a href="{{ comment.delete_url }}" class="small">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block js %}
<script>
var latLng = naver.maps.TransCoord.fromTM128ToLatLng(new naver.maps.Point({{data.mapx}}, {{data.mapy}}));

var map = new naver.maps.Map('map', {
        scaleControl: false,
        logoControl: false,
        mapDataControl: false,
        zoomControl: true,
        minZoom: 10,
        maxZoom: 15,
        zoom: 14,
        center: latLng,
    });

var markers = [], infoWindows = [];


var marker = new naver.maps.Marker({
    position: latLng,
    map: map,
});

var infowindow = new naver.maps.InfoWindow({
    content: [
        '<div class="iw_inner">',
        '   <h3>{{ data.title }}</h3>',
        '       {{ data.category }}<br />',
        '   <p>{{ data.address }} | {{ data.roadAddress }}<br />',
        '       <a href="{{ data.link }}" target="_blank">{{ data.link }}</a>',
        '   </p>',
        '</div>'
    ].join('')
});

markers.push(marker);
infoWindows.push(infowindow);

function getClickHandler(seq) {
    return function(e) {
        var marker = markers[seq],
            infoWindow = infoWindows[seq];

        if (infoWindow.getMap()) {
            infoWindow.close();
        } else {
            infoWindow.open(map, marker);
        }
    }
}

for (var i=0, ii=markers.length; i<ii; i++) {
    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
}
</script>
{% endblock %}