{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>HIP</title>

{% endblock %}

{% block main_area %}
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">리뷰 작성</h5>
          <div class="card-body">
              {% if user.is_authenticated %}
                <form id="comment-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="form-group">
                      {{ comment_form | crispy }}
                  </div>
                  <button type="submit" class="btn btn-primary">등록</button>
                </form>
              {% endif %}
          </div>
        </div>
{% endblock %}