<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t7r550sr3g"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t7r550sr3g&submodules=geocoder"></script>
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    <!-- 글꼴 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <style>
      .nav-title{
        font-family: 'Gugi', sans-serif;
      }
    </style>
</head>

<body>
    {% include 'navbar.html'%}
    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                {% block main_area %}

                {% endblock %}
            </div>
            <div class="col-md-12 col-lg-3">
                <!-- Places Widget -->
                <div class="card my-5" style="height: 450px">
                    <h5 class="card-header">Places</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-11">
                                <ul class="list-unstyled mb-1">
                                    <li>
                                        <a href="/hip/강남구/">강남구</a>
                                        <a href="/hip/강동구/">강동구</a>
                                        <a href="/hip/강북구/">강북구</a>
                                    </li>
                                    <li>
                                        <a href="/hip/강서구/">강서구</a>
                                        <a href="/hip/관악구/">관악구</a>
                                        <a href="/hip/광진구/">광진구</a>
                                    </li>
                                    <li>
                                        <a href="/hip/구로구/">구로구</a>
                                        <a href="/hip/금천구/">금천구</a>
                                        <a href="/hip/노원구/">노원구</a>
                                    </li>
                                    <li>
                                        <a href="/hip/도봉구/">도봉구</a>
                                        <a href="/hip/동대문구/">동대문구</a>
                                        <a href="/hip/동작구/">동작구</a>
                                    </li>
                                    <li>
                                        <a href="/hip/마포구/">마포구</a>
                                        <a href="/hip/서대문구/">서대문구</a>
                                        <a href="/hip/서초구/">서초구</a>
                                    </li>
                                    <li>
                                        <a href="/hip/성동구/">성동구</a>
                                        <a href="/hip/성북구/">성북구</a>
                                        <a href="/hip/송파구/">송파구</a>
                                    </li>
                                    <li>
                                        <a href="/hip/양천구/">양천구</a>
                                        <a href="/hip/영등포구/">영등포구</a>
                                        <a href="/hip/용산구/">용산구</a>
                                    </li>
                                    <li>
                                        <a href="/hip/은평구/">은평구</a>
                                        <a href="/hip/종로구/">종로구</a>
                                        <a href="/hip/중구/">중구</a>
                                        <a href="/hip/중랑구/">중랑구</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% block out_area %}

        {% endblock %}
        </div>
    </div>

    {% include 'footer.html'%}

</body>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    {% block js %}
    {% endblock %}
</html>