<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t7r550sr3g"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t7r550sr3g&submodules=geocoder"></script>
</head>
<body>
<div id="map" style="width:100%;height:600px;"></div>


{#<script type="text/javascript" src="{% static 'js/draw-ping.js' %}" ></script>#}

<script>
var map = new naver.maps.Map('map', {
        scaleControl: false,
        logoControl: false,
        mapDataControl: false,
        zoomControl: true,
        minZoom: 6,
        zoom: 12,
    });

var markers = [], infoWindows = [];

{% for data in data_list %}
    var latLng = naver.maps.TransCoord.fromTM128ToLatLng(new naver.maps.Point({{data.mapx}}, {{data.mapy}}));

    var marker = new naver.maps.Marker({
        position: latLng,
        map: map,
    });

    var infowindow = new naver.maps.InfoWindow({
        content: [
            '<div class="iw_inner">',
            '   <h3>{{ data.title }}</h3>',
            '       {{ data.category }} 위<br />',
            '   <p>{{ data.address }} | {{ data.roadAddress }}<br />',
            '       <a href="{{ data.link }}" target="_blank">{{ data.link }}</a>',
            '   </p>',
            '</div>'
        ].join('')
    });

    markers.push(marker);
    infoWindows.push(infowindow);
{% endfor %}

function getClickHandler(seq) {
    return function(e) {
        var marker = markers[seq],
            infoWindow = infoWindows[seq];

        if (infoWindow.getMap()) {
            infoWindow.close();
        } else {
            infoWindow.open(map, marker);
        }
    }
}

for (var i=0, ii=markers.length; i<ii; i++) {
    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
}
</script>

</body>
</html>