{% extends 'base.html' %}

{% block title %}
    {% if region %}
        <title>HIP - {{ region }}</title>
    {% else %}
        <title>HIP</title>
    {% endif %}
{% endblock %}

{% block main_area %}
<div id="map" style="width:100%;height:600px;"></div>
{% endblock %}


{#<script type="text/javascript" src="{% static 'js/draw-ping.js' %}" ></script>#}
{% block js %}
<script>
var map = new naver.maps.Map('map', {
        scaleControl: false,
        logoControl: false,
        mapDataControl: false,
        zoomControl: true,
        minZoom: 6,
        zoom: 12,
    });

var markers = [], infoWindows = [];

{% for data in data_list %}
    var latLng = naver.maps.TransCoord.fromTM128ToLatLng(new naver.maps.Point({{data.mapx}}, {{data.mapy}}));

    var marker = new naver.maps.Marker({
        position: latLng,
        map: map,
    });

    var infowindow = new naver.maps.InfoWindow({
        content: [
            '<div class="iw_inner">',
            '   <h3>{{ data.title }}</h3>',
            '       {{ data.category }} 위<br />',
            '   <p>{{ data.address }} | {{ data.roadAddress }}<br />',
            '       <a href="{{ data.link }}" target="_blank">{{ data.link }}</a>',
            '   </p>',
            '</div>'
        ].join('')
    });

    markers.push(marker);
    infoWindows.push(infowindow);
{% endfor %}

function getClickHandler(seq) {
    return function(e) {
        var marker = markers[seq],
            infoWindow = infoWindows[seq];

        if (infoWindow.getMap()) {
            infoWindow.close();
        } else {
            infoWindow.open(map, marker);
        }
    }
}

for (var i=0, ii=markers.length; i<ii; i++) {
    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
}
</script>
{% endblock %}